<div class="single-comment flex-col a-center j-center">
    <p class="user" style="font-size: 20px; margin-bottom: 10px;">Posted by: {{user.username}}</p>
    <p class="content">{{content}}</p>
</div>