<div class="tile flex-col j-center a-center">
    <h1 class="tile-title">{{title}}</h1>
    <div class="post-info flex-row a-center j-center">
        <p>{{user}}</p>
        <p>{{created_at}}</p>
    </div>
</div>