<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>My Blog!</title>
</head>
<body>
    <nav class="nav flex-row a-center j-center">
        <ul class="nav-links">
            {{#if loggedIn}}
            <li><button class="nav-btn"><a href="/">Home</a></button></li>
            <li><button class="nav-btn"><a href="/add-post">Create a post</a></button></li>
            <li><button class="nav-btn"><a href="/dashboard">Dashboard</a></button></li>
            <li><button class="logout nav-btn">Log Out</button></li>
            {{else}}
            <li><button class="nav-btn"><a href="/">Home</a></button></li>
            <li><button class="nav-btn"><a href="/login">login</a></button></li>
            <li><button class="nav-btn"><a href="/signup">Sign up</a></button></li>
            {{/if}}
        </ul>
        <div class="search-container">
            <label for="search" class="search-label">Search Posts</label>
            <input type="text" name="search" id="search">
            <button class="search-btn nav-btn">Search</button>
        </div>
    </nav> 
    <main class="main-container">
        {{{ body }}}
    </main>
    <footer class="footer"></footer>
    <script src="/javascript/search.js"></script>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>