<div class="header-container flex-row a-center j-center">
    <h1>My Posts</h1>
</div>
<div class="dashboard-container">
    {{#each posts as |post|}}
        {{>post-info-dashboard post}}
    {{/each}}
</div>
<script src="javascript/delete-post.js"></script>
