<div class="add-post-container flex-col a-center j-center">
    <label for="post-title" style="margin-bottom: 10px">Title</label>
    <input type="text" name="post-title" class="post-title post-input">

    <label for="post-content" style="margin-bottom: 10px">Content</label>
    <input type="text" name="post-content" class="post-content post-input">

    <label for="post-image-url" style="margin-bottom: 10px; margin-top: 10px">image (input url)</label>
    <input type="text" name="post-image-url" class="post-image-url post-input">

    <button class="submit" style="margin-top: 10px;">Edit post!</button>
</div>
<script src="/javascript/edit-post.js"></script>