<div class="login-form-container">
    <div class="login-form">
        <label for="login-username">Username</label>
        <input type="text" name="login-username" class="login-username">

        <label for="login-pw"></label>
        <input type="text" name="login-pw">
    </div>
</div>
<script src="javascript/login.js"></script>