
<form class="login-form flex-col a-center j-center">
    <label for="login-username">Username</label>
    <input type="text" name="login-username" class="login-username">

    <label for="login-pw"></label>
    <input type="text" name="login-pw">

    <button class="login"></button>
</form>
<script src="javascript/login.js"></script>