<form class="signup-form flex-col a-center j-center">
    <label for="signup-username">Username</label>
    <input type="text" name="signup-username" class="signup-username">

    <label for="signup-email">Email</label>
    <input type="text" name="signup-email" class="signup-email">

    <label for="signup-pw">Password</label>
    <input type="text" name="signup-pw" class="signup-pw">

    <button class="signup">Sign Up</button>
</form>
<script src="javascript/signup.js"></script>