<form class="signup-form"a>
    <label for="signup-username">Username</label>
    <input type="text" name="signup-username">

    <label for="signup-email"></label>
    <input type="text" name="signup-email">

    <label for="signup-pw"></label>
    <input type="text" name="signup-pw">

    <button class="signup"></button>
</form>
<script src="javascript/signup.js"></script>